<div class="container">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-12">
      <%= simple_form_for @cocktail do |c| %>
        <%= c.input :name %>
        <%= c.input :photo %>
        <%= c.input :photo_cache, as: :hidden %>
        <%= c.full_error :token %>
        <%= c.submit 'Update', class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
<div class="">
        <div class="cards">
          <div class="card">
            <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
          <div class="card-trip-infos">
            <div>

              <p>
                <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure ?"} do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </p>
            </div>
              <h2 class="card-trip-pricing">£99.99</h2>
              <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
              <% end %>
            </div>
          </div>
        </div>
      </div>
