<div class="container">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-12 col-sm-2">
      <%= simple_form_for [@cocktail, @dose] do |c| %>
        <%= c.input :name %>
        <%= c.input :ingredient, collection:INGREDIENTS %>
        <%= c.full_error :token %>
        <%= c.submit 'Update', class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
