<div class="container-fluid">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-12 col-sm-2">

      <h1><%= @cocktail.name %></h1>
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
      <p><% @cocktail.doses.each do |d| %></p>
        <ul>
          <li><%= d.description %>: <%= d.ingredient.name %> | <%= link_to "Delete", dose_path(d), method: :delete, data: { confirm: "Are you sure?" } %></li>
        </ul>
        <% end %>
      <%= link_to cocktails_path do%>
        <i class="fas fa-home"></i> <span>Home</span>
      <% end %>

      <%= link_to new_cocktail_dose_path(@cocktail) do%>
        <i class="fas fa-plus"></i> <span>Add dose</span>
      <% end %>

      <%= link_to edit_cocktail_path do%>
        <i class="fas fa-pencil-alt"></i> <span>Edit</span>
      <% end %>
    </div>
  </div>
</div>
