<div class="container">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for [@cocktail, @dose] do |c| %>
        <%= c.input :description %>
        <%= c.association :ingredient, collection: Ingredient.all %>
        <%= c.full_error :token %>
        <%= c.submit 'Save' %>
      <% end %>
    </div>
  </div>
</div>

